<div class="jumbotron">

	<center>
		<h1>Welcome to Rachel's Pizza Shop ^_^</h1>

		<img src="http://s2.favim.com/610/141207/cat-cute-delicious-eating-Favim.com-2291762.jpg"><br>

		<%= link_to "Our pizzas are delicious~!", pizzas_path, class: "btn btn-default" %>
	</center>



</div>