<div class="jumbotron">
    <div class="container">
      <h1>Pizza. With a Vengence.</h1>
      <p>Murder that slice. Enjoy a violently delicious meal at Pizza Vengence. <br>Nobody puts the P in the V like we do. Satisfaction gauranteed.</p>
      <p><%= link_to "Check out our hot stuff", pizzas_path, class: "btn btn-warning" %></p>
    </div>
  </div>

  <div class="pizza">
      <p>Get ready to eat the sexiest pizza ever.</p>
  </div>

 <div class="why">
    <h1>Why We're Better</h1>
    <p>You know you want us.</p>
</div>

 <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>