<div class="jumbotron">
    <div class="container">
      <h1>Pizza. With a Vengence.</h1>
      <p>Murder that slice. Enjoy a violently delicious meal at Pizza Vengence. <br>Nobody puts the P in the V like we do. Satisfaction gauranteed.</p>
      <p><%= link_to "Check out our hot stuff", pizzas_path, class: "btn btn-warning" %></p>
    </div>
  </div>