

<div id="container">
    <div id="header">
        <div class="jumbotron"> 
          <div class="container">
            <h1>Pizza. With a Vengence.</h1>
            <p>Murder that slice. Enjoy a violently delicious meal at Pizza Vengence. <br>Satisfaction gauranteed.</p>
            <p><%= link_to "Check out our hot stuff", pizzas_path, class: "btn btn-warning" %></p>
    </div>
  </div>
    </div>
    
    <div id="content">
         <div class="pizza">
            <p>Get ready to eat the best pizza ever.</p>
          </div>
        </div>

    </div>
    
    <div id="sidebar">
        <h1>Why We're Better</h1>
        <h2>You know you want us.</h2>
        <p>Our pizzas only have the good stuff. We like them round, thick, and saucy. Fresh till consumption 110% all natural ingredients.</p>

        <ul class="list-group">
          <h3>Real Talk:</h3>
            <li class="list-group-item">We've been making pizza since 2010. That's longer than you've ever held a job.</li>
            <li class="list-group-item">We sing to the dough every night to ensure it can dance in your mouth when it reaches maturity.</li>
            <li class="list-group-item">We put the sauce on top because hot, juicy goodness is the first thing you should feel after a long day at work.</li>
            <li class="list-group-item">We might be offensive, but even your grandmother wants a slice of this. Seriously. Ask her.</li>

        </ul>
      </div>
    </div>
    
    <div id="footer">
        footer content here
    </div>
</div>
