html, body {
    background-image: linear-gradient(red, orange);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
 
}

.jumbotron {
	background-color: black;

	}

.jumbotron h1 {
	color: red;
}

.jumbotron p {
	color: white;
	font-size: 1.5em;
	padding: 1%;
}

.navbar-inverse .navbar-brand {
	color: white;

}

.pizza {
	background-image: url('https://patxispizza.com/wp-content/uploads/2012/08/signature.jpg');
	height: 515px;
	width: 990px;
	padding: 5%;
	position: absolute;

}

.pizza p {
	color: white;
	font-size: 3em;
	padding: 1%;

}

.why {
	width: 500px;
	position: absolute;
	right: 350px;
	padding: 20px;
	background-color: black;

}

.why h1, h3, p {
	color: white;
}

.why h2 {
	color: red;
}

.list-group-inverse {
	position: relative;
	/*background-color: black;
	color: white;*/

}