html, body {
    background-image: linear-gradient(red, orange);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
 
}

.jumbotron {
	background-color: black;

	}

.jumbotron h1 {
	color: red;
}

.jumbotron p {
	color: white;
	font-size: 1.5em;
	padding: 1%;
}

.navbar-inverse .navbar-brand {
	color: white;

}