html, body {
    background-image: linear-gradient(red, orange);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
 
}


.jumbotron {
	background-color: black;

	}

.jumbotron h1 {
	color: red;
}

.jumbotron p {
	color: white;
	font-size: 1.5em;
	padding: 1%;
}

.navbar-inverse .navbar-brand {
	color: white;

}

#container {
    width:100%;
    margin:20px auto;
  
}

#content {
    float:left;
    width:620px;
}

#sidebar {
    float:right;
    width:340px;
}

#footer {
    clear:both;
}


#content, .pizza {
	background-image: url('https://patxispizza.com/wp-content/uploads/2012/08/signature.jpg');
	height: 515px;
	width: 990px;

}

.pizza p {
	color: white;
	font-size: 3em;
	padding: 5%;

}

#sidebar, .why {
	width: 500px;
	right: 350px;
	padding: 20px;
	background-color: black;

}

#sidebar, .why h1, h3, p {
	color: white;
}

#sidebar, .why h2 {
	color: red;
}
